USE [master]
GO
/****** Object:  Database [GestaoPedidos]    Script Date: 22/06/2025 13:15:45 ******/
CREATE DATABASE [GestaoPedidos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestaoPedidos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GestaoPedidos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestaoPedidos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GestaoPedidos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestaoPedidos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestaoPedidos]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 22/06/2025 13:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 22/06/2025 13:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [uniqueidentifier] NOT NULL,
	[Nome] [nvarchar](450) NOT NULL,
	[Documento] [nvarchar](450) NOT NULL,
	[Ativo] [bit] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedOn] [datetime2](7) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidoProdutos]    Script Date: 22/06/2025 13:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoProdutos](
	[PedidoId] [uniqueidentifier] NOT NULL,
	[ProdutoId] [uniqueidentifier] NOT NULL,
	[Quantidade] [int] NOT NULL,
	[PrecoUnitario] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_PedidoProdutos] PRIMARY KEY CLUSTERED 
(
	[PedidoId] ASC,
	[ProdutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 22/06/2025 13:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[Id] [uniqueidentifier] NOT NULL,
	[Data] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
	[Ativo] [bit] NOT NULL,
	[ClienteId] [uniqueidentifier] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedOn] [datetime2](7) NULL,
 CONSTRAINT [PK_Pedidos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produtos]    Script Date: 22/06/2025 13:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produtos](
	[Id] [uniqueidentifier] NOT NULL,
	[Nome] [nvarchar](450) NOT NULL,
	[Preco] [decimal](18, 2) NOT NULL,
	[Ativo] [bit] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedOn] [datetime2](7) NULL,
 CONSTRAINT [PK_Produtos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22/06/2025 13:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250622152434_initial001', N'9.0.6')
GO
INSERT [dbo].[Clientes] ([Id], [Nome], [Documento], [Ativo], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (N'b8dc7a2d-b1f0-4854-a821-6ab75c4a387c', N'Maria da Silva', N'12345678900', 1, N'9cacbbad-fcb5-446d-9d80-b4a2deb6d39c', CAST(N'2025-06-22T16:59:51.5899799' AS DateTime2), NULL, NULL)
INSERT [dbo].[Clientes] ([Id], [Nome], [Documento], [Ativo], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (N'0e58f07a-41a6-48a5-a3af-d63aa1ff43de', N'Frank Benicio', N'00100200390', 1, N'9cacbbad-fcb5-446d-9d80-b4a2deb6d39c', CAST(N'2025-06-22T15:39:00.7647904' AS DateTime2), NULL, NULL)
GO
INSERT [dbo].[PedidoProdutos] ([PedidoId], [ProdutoId], [Quantidade], [PrecoUnitario]) VALUES (N'16969cd1-300b-4a44-a3df-003bc241594b', N'6c605eac-a620-42eb-ac0c-5494a76f0e47', 3, CAST(5.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Pedidos] ([Id], [Data], [Status], [Ativo], [ClienteId], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (N'16969cd1-300b-4a44-a3df-003bc241594b', CAST(N'2025-06-21T01:46:19.6080000' AS DateTime2), 2, 1, N'0e58f07a-41a6-48a5-a3af-d63aa1ff43de', N'9cacbbad-fcb5-446d-9d80-b4a2deb6d39c', CAST(N'2025-06-22T15:47:40.7681904' AS DateTime2), N'9cacbbad-fcb5-446d-9d80-b4a2deb6d39c', CAST(N'2025-06-22T15:49:56.5464868' AS DateTime2))
GO
INSERT [dbo].[Produtos] ([Id], [Nome], [Preco], [Ativo], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (N'6c605eac-a620-42eb-ac0c-5494a76f0e47', N'Agua Mineral Natural', CAST(5.00 AS Decimal(18, 2)), 1, N'9cacbbad-fcb5-446d-9d80-b4a2deb6d39c', CAST(N'2025-06-22T15:40:17.2439003' AS DateTime2), NULL, NULL)
GO
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Role]) VALUES (N'9cacbbad-fcb5-446d-9d80-b4a2deb6d39c', N'admin', N'$2a$11$A9PIQkgWa1YrLAuCYG0GvOYxxqI4j7OATw4xEQDtuBQIC3ghcMAHS', N'Admin')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Cliente_Documento]    Script Date: 22/06/2025 13:15:45 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Cliente_Documento] ON [dbo].[Clientes]
(
	[Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Cliente_Nome]    Script Date: 22/06/2025 13:15:45 ******/
CREATE NONCLUSTERED INDEX [IX_Cliente_Nome] ON [dbo].[Clientes]
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Clientes_CreatedBy]    Script Date: 22/06/2025 13:15:45 ******/
CREATE NONCLUSTERED INDEX [IX_Clientes_CreatedBy] ON [dbo].[Clientes]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Clientes_UpdatedBy]    Script Date: 22/06/2025 13:15:45 ******/
CREATE NONCLUSTERED INDEX [IX_Clientes_UpdatedBy] ON [dbo].[Clientes]
(
	[UpdatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PedidoProdutos_ProdutoId]    Script Date: 22/06/2025 13:15:45 ******/
CREATE NONCLUSTERED INDEX [IX_PedidoProdutos_ProdutoId] ON [dbo].[PedidoProdutos]
(
	[ProdutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pedido_ClienteId]    Script Date: 22/06/2025 13:15:45 ******/
CREATE NONCLUSTERED INDEX [IX_Pedido_ClienteId] ON [dbo].[Pedidos]
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pedido_Data]    Script Date: 22/06/2025 13:15:45 ******/
CREATE NONCLUSTERED INDEX [IX_Pedido_Data] ON [dbo].[Pedidos]
(
	[Data] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pedido_Status]    Script Date: 22/06/2025 13:15:45 ******/
CREATE NONCLUSTERED INDEX [IX_Pedido_Status] ON [dbo].[Pedidos]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pedido_Status_Data]    Script Date: 22/06/2025 13:15:45 ******/
CREATE NONCLUSTERED INDEX [IX_Pedido_Status_Data] ON [dbo].[Pedidos]
(
	[Status] ASC,
	[Data] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pedidos_CreatedBy]    Script Date: 22/06/2025 13:15:45 ******/
CREATE NONCLUSTERED INDEX [IX_Pedidos_CreatedBy] ON [dbo].[Pedidos]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pedidos_UpdatedBy]    Script Date: 22/06/2025 13:15:45 ******/
CREATE NONCLUSTERED INDEX [IX_Pedidos_UpdatedBy] ON [dbo].[Pedidos]
(
	[UpdatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Produto_Nome]    Script Date: 22/06/2025 13:15:45 ******/
CREATE NONCLUSTERED INDEX [IX_Produto_Nome] ON [dbo].[Produtos]
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Produto_Preco]    Script Date: 22/06/2025 13:15:45 ******/
CREATE NONCLUSTERED INDEX [IX_Produto_Preco] ON [dbo].[Produtos]
(
	[Preco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Produtos_CreatedBy]    Script Date: 22/06/2025 13:15:45 ******/
CREATE NONCLUSTERED INDEX [IX_Produtos_CreatedBy] ON [dbo].[Produtos]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Produtos_UpdatedBy]    Script Date: 22/06/2025 13:15:45 ******/
CREATE NONCLUSTERED INDEX [IX_Produtos_UpdatedBy] ON [dbo].[Produtos]
(
	[UpdatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Users_CreatedBy]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Users_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[PedidoProdutos]  WITH CHECK ADD  CONSTRAINT [FK_PedidoProdutos_Pedidos_PedidoId] FOREIGN KEY([PedidoId])
REFERENCES [dbo].[Pedidos] ([Id])
GO
ALTER TABLE [dbo].[PedidoProdutos] CHECK CONSTRAINT [FK_PedidoProdutos_Pedidos_PedidoId]
GO
ALTER TABLE [dbo].[PedidoProdutos]  WITH CHECK ADD  CONSTRAINT [FK_PedidoProdutos_Produtos_ProdutoId] FOREIGN KEY([ProdutoId])
REFERENCES [dbo].[Produtos] ([Id])
GO
ALTER TABLE [dbo].[PedidoProdutos] CHECK CONSTRAINT [FK_PedidoProdutos_Produtos_ProdutoId]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Clientes_ClienteId] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Clientes_ClienteId]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Users_CreatedBy]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Users_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[Produtos]  WITH CHECK ADD  CONSTRAINT [FK_Produtos_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Produtos] CHECK CONSTRAINT [FK_Produtos_Users_CreatedBy]
GO
ALTER TABLE [dbo].[Produtos]  WITH CHECK ADD  CONSTRAINT [FK_Produtos_Users_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Produtos] CHECK CONSTRAINT [FK_Produtos_Users_UpdatedBy]
GO
USE [master]
GO
